services:
  gemini-translator:
    image: ghcr.io/supotnitskiy/gemini-translator
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: ${APP_DIR}
    container_name: gemini-translator
    restart: unless-stopped
    networks:
      - internal-net
    environment:
      - TZ=Europe/Moscow
      - LANG=ru_RU.UTF-8
      - LANGUAGE=ru_RU:ru
      - LC_ALL=ru_RU.UTF-8
      - VNC_PORT=10000
      - VNC_PASSWORD=${VNC_PASSWORD}
      - QT_QPA_PLATFORM=xcb
      - QT_XCB_GL_INTEGRATION=none
      - QT_SCALE_FACTOR=1
      - QT_AUTO_SCREEN_SCALE_FACTOR=0
      - QT_ENABLE_HIGHDPI_SCALING=0

    ports:
      - "10000:10000"
    volumes:
      - ./share:/share:rw
      - ./epub_translator:/root/.epub_translator:rw
#      - ./config:/app/${APP_DIR}/config:rw
      - ./GeminiTranslator/config:/app/${APP_DIR}/config:rw

networks:
  internal-net:
    driver: bridge
